<div>
  <form [formGroup]="lancarPedidoForm" (ngSubmit)="handleSubmitLancarPedido()">
    <div style="margin-bottom: 15px; text-align: center;">

    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText type="number" placeholder="Quantidade" formControlName="quantidade"/>

      <p-dropdown placeholder="Selecione o produto" formControlName="produto" [options]="produtos" optionLabel="nome" id="produtoDropdown" [style]="{'width': '100%', 'height': '40px'}" [required] = "true"></p-dropdown>


        <p-button
          [disabled]="!lancarPedidoForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>

  </div>
  </form>
</div>


