<div >
  <form [formGroup]="empresaForm" (ngSubmit)="handleSubmitEmpresaAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome fantasia" formControlName="nomeFantasia"/>
      <input pInputText placeholder="Razão Social"  formControlName="razaoSocial"/>
      <input pInputText placeholder="CNPJ" formControlName="cnpj"/>

        <p-button
          [disabled]="!empresaForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
      <p-progressBar *ngIf="isLoading" mode="{{loadingMode}}"></p-progressBar>

  </form>
</div>

