<div >
  <form [formGroup]="pacientForm" (ngSubmit)="handleSubmitPacientAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="username"/>
      <input pInputText placeholder="Email" type="email" formControlName="email"/>
      <input pInputText placeholder="Endereço" formControlName="address"/>
      <input pInputText placeholder="Profissão" formControlName="profession"/>
      <p-dropdown formControlName="uf" [options]="estados" [showClear]="true"
                  [style]="{'width':'100%', 'height': '40px'}" placeholder="Seleciona uma UF"></p-dropdown>
      <input type="date" pInputText placeholder="Data de nascimento" formControlName="birth"/>
      <p-dropdown formControlName="gender" placeholder="Gênero" [options]="gender"
                  [style]="{'width':'100%', 'height': '40px'}" [dropdownIcon]="'pi pi-chevron-down'"
                  [showClear]="true"></p-dropdown>
      <input pInputText placeholder="Telefone" formControlName="phone"  maxlength="11"/>
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!pacientForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
      <p-progressBar *ngIf="isLoading" mode="{{loadingMode}}"></p-progressBar>
    </div>
  </form>
</div>

