<app-toolbar-navigation></app-toolbar-navigation>

<!-- Totais -->
<div style="display: flex; justify-content: space-around; margin-top: 20px;">
  <div class="card-container">
    <p-card header="Total de pacientes" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        {{ allPacients }}
      </p>
    </p-card>
  </div>

  <div class="card-container">
    <p-card header="Seus pacientes" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        {{ allProfissionalPacients }}
      </p>
    </p-card>
  </div>

  <div class="card-container">
    <p-card header="Total de fichas" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        {{ allReports }}
      </p>
    </p-card>
  </div>
</div>

<!-- Gráficos -->
<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
  <div class="chart-container">
    <p-card header="Resultados totais" styleClass="shadow-3 m-5 text-indigo-800">
      <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" height="400"></p-chart>
    </p-card>
  </div>

  <div class="chart-container">
    <p-card header="Pacientes encaminhados por especialidade" styleClass="shadow-3 m-5 text-indigo-800">
      <p-chart type="doughnut" [data]="donutChartData" [options]="donutChartOptions" height="400"></p-chart>
    </p-card>
  </div>
</div>


<!--Informacoes do usuario-->
<div style="display: flex;justify-content: center;align-content: center">
  <div style="width: 80%;">
    <p-card *ngIf="userInfo" header="Informações do usuário" [style]="{ 'text-align': 'center' }">
      <p style="text-align: center; font-size: 1.5em;">
        <span class="pi pi-user" style="margin-right: 10px"></span> <strong><span
        style="font-weight: bold;">Usuário:</span></strong> {{ userInfo?.username }}
      </p>

      <p style="text-align: center; font-size: 1.5em;">
        <span class="pi pi-envelope" style="margin-right: 10px"></span><strong><span
        style="font-weight: bold;">E-mail:</span></strong> {{ userInfo?.email }}
      </p>
      <p-button (onClick)="desativateAccount()">Desativar conta</p-button>
    </p-card>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
