<div>
  <form [formGroup]="reportForm" (ngSubmit)="handleSubmitReportAction()"><div *ngIf="reportAction.event.action == addReportAction" style="margin-bottom: 15px; text-align: center;">
    <div style="margin: 5px; display: inline-block;">
      <button class="p-button-outlined p-button-rounded p-button" (click)="getIntegrationLink()">
        <span>Copiar link da ficha</span>
        <i class="pi pi-copy pi-lg" style="margin: 5px"></i>
      </button>
    </div>
    <div style="display: inline-block;">
      <button class="p-button-outlined p-button-rounded p-button p-button-success" (click)="sendIntegrationWhatsApp()">
        <span>Compartilhar via WhatsApp</span>
        <i class="pi pi-whatsapp pi-lg" style="margin: 5px"></i>
      </button>
    </div>
  </div>
    <div class="card flex flex-column md:flex-column gap-3">
      <textarea pInputTextarea rows="5" placeholder="Histórico Médico" formControlName="medicalHistory"></textarea>
      <textarea pInputTextarea rows="5" placeholder="Medicações Atuais" formControlName="currentMedications"></textarea>
      <p-checkbox label="Problemas Cardiovasculares" formControlName="cardiovascularIssues"
                  [binary]="true"></p-checkbox>
      <p-checkbox label="Diabetes" formControlName="diabetes" [binary]="true"></p-checkbox>
      <p-checkbox label="Histórico Familiar de Problemas Cardiovasculares"
                  formControlName="familyHistoryCardiovascularIssues" [binary]="true"></p-checkbox>
      <p-checkbox label="Histórico Familiar de Diabetes" formControlName="familyHistoryDiabetes"
                  [binary]="true"></p-checkbox>
      <p-checkbox label="Fumante" formControlName="smoker" [binary]="true"></p-checkbox>
      <input pInputText placeholder="Atividade Física" formControlName="physicalActivity"/>
      <p>Consumo de álcool, de 1 a 5</p>
      <input pInputText placeholder="Consumo de Álcool" formControlName="alcoholConsumption" type="number" min="0"
             max="5"/>

      <input pInputText placeholder="Nome do Contato de Emergência" formControlName="emergencyContactName"/>
      <input pInputText placeholder="Telefone do Contato de Emergência" formControlName="emergencyContactPhone"
             maxlength="11"/>
      <textarea pInputTextarea rows="5" placeholder="Observações" formControlName="observations"></textarea>
      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button
          [disabled]="!reportForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>


