<div>
  <form [formGroup]="clienteForm" (ngSubmit)="handleSubmitReportAction()"><div *ngIf="clienteAction.event.action == addClienteAction" style="margin-bottom: 15px; text-align: center;">

  </div>
    <div class="card flex flex-column md:flex-column gap-3">
      <textarea pInputText placeholder="Nome do cliente" formControlName="clientName"></textarea>
      <textarea pInputText placeholder="Email" formControlName="email"></textarea>
      <textarea pInputText placeholder="Telefone" formControlName="telefone"></textarea>


        <p-button
          [disabled]="!clienteForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>

  </form>
</div>


