.p-dropdown-placeholder {
  margin-left: 10px; /* Ajuste o valor conforme necessário */
}

p-dialog .p-dialog-content {
  padding: 0;
}

.p-field {
  padding: 10px 0;
}

.p-col-fixed {
  font-weight: bold;
}
