<div class='grid'>
  <div class='col-12'>
    <p-card styleClass="shadow-3 m-3 text-indigo-800">
      <div class="flex flex-row justify-content-around " >

        <p-button
          styleClass="p-button-outlined"
          class="p-button-outlined "
          pTooltip="Todos as empresa"
          tooltipPosition="top"
          label='Todos as empresas'
          (click)="handleShowAllEmpresas()"
        ></p-button>

      </div>
      <hr style="border: 1px solid #ccc; width: 100%; margin-bottom: 20px;">


      <p-table
        [value]="empresa"
        [(selection)]="empresaSelected"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [tableStyle]="{'min-width': '75rem' }"
        [rowHover]='true'
        [showCurrentPageReport]='true'
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} empresas"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="username">
              <div class='flex justify-content-between align-items-center'>
                <div class="flex justify-content-between align-items-center">
                  Nome da empresa
                </div>
                <div class='justify-content-between align-items-center'>
                  <p-sortIcon field='nomeFantasia'></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field='nomeFantasia'
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]='false'
                    [showAddButton]="false"
                    [showOperator]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="referrals">
              <div class='flex justify-content-between align-items-center'>
                <div class="flex justify-content-between align-items-center">
                  CNPJ
                </div>

              </div>
            </th>

            <th>
              <div class="flex justify-content-center" style="margin-bottom: 20px">
                <p-button
                  styleClass="p-button-outlined"
                  icon='pi pi-plus'
                  class="p-button-outlined "
                  pTooltip="Adicionar empresa"
                  tooltipPosition="top"
                  label='Adicionar'
                  (click)="handleEmpresaEvent(addEmpresaAction)"
                ></p-button>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empresa>
          <tr>
            <td>{{ empresa?.nomeFantasia }}</td>
            <td> {{ empresa?.cnpj }}</td>

            <td>
              <div class='flex justify-content-center gap-3 align-content-center align-items-center'
                   style="margin-bottom: 10px">
                <button
                  pButton
                  pRipple
                  pTooltip='Editar empresa'
                  tooltipPosition="top"
                  icon='pi pi-pencil'
                  class="p-button-outlined p-button-primary"
                  (click)="handleEmpresaEvent(editPacientAction, empresa?.empresaId, empresa?.razaoSocial)"
                ></button>

                <button
                  pButton
                  pRipple
                  pTooltip='Criar um cliente'
                  tooltipPosition="top"
                  icon='pi pi-user-plus'
                  class="p-button-outlined p-button-success p-button-lg"
                  (click)="handleClienteEvent(addClienteAction, empresa?.empresaId, empresa?.razaoSocial)"

                ></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>



      <ng-template #noEmpresas>
        <div class="text-center">Nenhuma empresa encontrado.</div>
      </ng-template>
    </p-card>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
