<div class='grid'>
  <div class='col-12'>
    <p-card class="shadow-3 m-5 text-indigo-800" styleClass="text-center" header="Pedidos">
      <div class="flex flex-row justify-content-around " style="margin-bottom: 10px;">
      </div>
      <hr style="border: 1px solid #ccc; width: 100%; margin-bottom: 20px;">
      <p-table
        [value]="pedidos"
        [(selection)]="selectedPedido"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [tableStyle]="{'min-width': '75rem' }"
        [rowHover]='true'
        [showCurrentPageReport]='true'
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} pedidos"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="reportDateTime">
              <div class='flex justify-content-between align-items-center'>
                Número do pedido
              </div>
            </th>
            <th pSortableColumn="cliente">
              Cliente
            </th>
            <th pSortableColumn="observacao">
              Observação
            </th>
            <th pSortableColumn="empresa">
              Nome da empresa

              <p-columnFilter
                type="text"
                field='empresa.nomeFantasia'
                display="menu"
                matchMode="contains"
                [showMatchModes]='false'
                [showAddButton]="false"
                [showOperator]="false"
              ></p-columnFilter>
            </th>

            <th>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
          <tr>

            <td>{{ pedido?.numero }}</td>
            <td>{{ pedido?.cliente }}</td>
            <td>{{ pedido?.observacao }}</td>
            <td>{{ pedido?.empresa?.nomeFantasia }}</td>
            <td>
              <div class='flex justify-content-center gap-3 align-content-center align-items-center'
                   style="margin-bottom: 10px">
                <!-- Botão para abrir o modal -->
                <button pButton pRipple pTooltip='Lançar pedido' tooltipPosition="top" icon='pi pi-arrow-up-right'
                        class="p-button-outlined p-button-sucess" (click)="displayModal = true"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template #noReports>
        <div class="text-center">Nenhum pedido encontrado.</div>
      </ng-template>
    </p-card>
  </div>


  <!-- Modal para lançar pedido -->
  <p-dialog header="Lançar Pedido" [(visible)]="displayModal" [modal]="true" [closable]="true">
    <div>
      <form [formGroup]="lancarPedidoForm">

        <label>Quantidade:</label>
        <div style="margin-bottom: 15px; text-align: center;">
          <input pInputText type="number" placeholder="Quantidade" formControlName="quantidade"/>
        </div>

          <label for="produtoDropdown">Selecione um produto:</label>
        <div class="form-group">
          <p-dropdown formControlName="produto" [options]="produtos" optionLabel="nome" id="produtoDropdown" [style]="{'width': '100%', 'height': '40px'}" [required] = "true"></p-dropdown>

        </div>

        <div class="card flex flex-column md:flex-column gap-3 mt-3">

          <p-button
            [disabled]="!lancarPedidoForm.valid"
            type="submit"
            label="Concluir"
          ></p-button>

        </div>
      </form>
    </div>
  </p-dialog>
</div>
<p-confirmDialog></p-confirmDialog>
